<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TAIWAN RUN</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <style>
            body{
                background-color: #36E25B;
                text-align:center;
            }
            .short-space {
                height: 20px;
            }
            .long-space{
                height:100px;
            }
            .my-logo-container{
                margin-right: 20px;
                margin-left:20px;
                height:100px;
            }
            .title{
                margin-top: 31px;
                text-align: left;
                font-weight: bold;
                text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
            }
            .character{
                margin: 20px;
            }
            .arrow{
                border-left: 20px solid #36E25B;
                border-top: 30px solid #2e3192;
                border-right: 20px solid#36E25B;
                display: inline-block;
            }
            .player{
                height: 75px;
                width: auto;
            }
            .player_text{
                font-size:32px;
                font-weight: bold;
                margin: 0px;
            }
            .name{
                border:#482911 3px solid; 
                height: 40px;
                width: 50%;
                border-radius:5px;
                margin-right:auto;
                margin-left:auto;
                font-size:24px;
                color:#482911;
            }

    </style>    
    </head>

    <body>
        <div class="short-space"></div>
        <div class="my-logo-container">
            <div class="col-xs-12 col-sm-3" ><img src="/images/logo-s.png" alt="TAIWAN RUN"></div>
            <div class="col-xs-12 col-sm-8"><h1 class="title">Choose your character</h1></div>
        </div>
        <div class="short-space"></div>
        
        <div class="container">
        
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="player">
                    <div id="1p"><p class="player_text">1P</p><div class="arrow"></div></div>
                </div>
                <img class="character" src="/images/character_0-0.png" alt="character1"><br>
                <div class="name">Bob</div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="player">
                    <div id="2p" style="display: none" ><p class="player_text">2P</p>
                    <div class="arrow" style="border-top: 25px solid #c1272d;"></div></div>
                </div>
                    <img class="character" src="/images/character_0-1.png" alt="character2"><br>
                    <div class="name">Leo</div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="player"></div>
                <img class="character" src="/images/character_0-2.png" alt="character3"><br>
                <div class="name">Andy</div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="player"></div>
                <img class="character" src="/images/character_0-3.png" alt="character4"><br>
                <div class="name">Cynthia</div>
            </div>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script>
            jQuery(document).ready(function(){
                var code = <%= code %>;
                var player = <%= player%>;
                var choose_1p;
                var choose_2p;
                var submit_count = 0;

                if(player == 2) $("#2p").show();

                io.socket.get("/activate/" + code, function (data, jwres){
                    //Sends a virtual GET request to a Sails server using Socket.io.
                    console.log("Connected");
                });
                io.socket.on("choose", function(event){
                        if (player == 1){ //1player
                            if (event.submit == 't'){
                                location.href="/game_main/"+code+"/"+event.choose+"/"+"0";
                            }
                            else {
                                $( "#1p" ).appendTo( $( ".player" ).eq(event.choose) );
                            }
                        }
                        else if (player == 2){ //2players

                            if (event.p == 1){
                                $( "#1p" ).appendTo( $( ".player" ).eq(event.choose) );
                            }
                            else{
                                $( "#2p" ).appendTo( $( ".player" ).eq(event.choose) );
                            }
                            
                            if (event.submit == 't'){
                                if (event.p == 1){
                                    choose_1p = event.choose;
                                }
                                else{
                                    choose_2p = event.choose;
                                }
                            }

                            if (choose_1p != undefined && choose_2p != undefined){
                                
                                location.href="/game_main/"+code+"/"+choose_1p+"/"+choose_2p;  
                            }
                            
                        }
                        console.log(event);
                });
            });
        </script>

    </body>
</html>
